body{
    background : #bf8eed;
}

table{
    background: #f2b3c5;
    border-radius: 5px;
    margin-left: 530px;
}

h1{
    background: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
    font-size: 100px;
    font-family: verdana;
    color: #105282;
    text-align: center;
}

*{
    text-align: center;
    table-align: center;
}



#menu{
    /*width:100%;*/
    text-align: left;
    marin-left: 0px;
}

ul{
    list-style-position: inside;
}